/* Global Styles */

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

header {
  background-color: #55868c;
}

h1 {
  font-size: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #e4e4e4;
  text-align: center;
  padding-top: 40px;
}

h2 {
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #e4e4e4;
  text-align: center;
  padding-left: 5cm;
  padding-right: 5cm;
}

h2 a {
  color: #e4e4e4;
  text-decoration: none;
}

h2 a:hover {
  color: slategray;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #e4e4e4;
}

main {
  text-align: center;
}

header::after {
  content: " ";
  display: table;
  clear: both;
}

.bg-blue {
  background-color: #1b1f3b;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.logo {
  float: left;
  padding: 10px 0;
}

/* Navbar Styles */
nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}

/* Container holding the image and the text */
.headerphoto {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #e4e4e4;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left,
.right {
  width: 22%;
}

.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
